AZURE_SEARCH_SERVICE_ENDPOINT=https://your-search-service.search.windows.net
AZURE_SEARCH_INDEX=my-demo-index
# Optional, only required if not using RBAC authentication
# https://learn.microsoft.com/azure/search/search-security-rbac
# If you set the admin key, it's always used. Make sure key is empty if using roles.
AZURE_SEARCH_ADMIN_KEY=

# Used for azure-search-backup-and-restore
# Optional, only required if backing up to a different service
AZURE_TARGET_SEARCH_SERVICE_ENDPOINT=
AZURE_TARGET_SEARCH_INDEX=sample-backup
# Optional, only required if not using RBAC authentication.
# If you set the admin key, it's always used. Make sure key is empty if using roles.
AZURE_TARGET_SEARCH_ADMIN_KEY=

# Used for ragas-eval, azure-search-integrated-vectorization-sample, azure-search-vector-image-python-sample
# Enclose the connection string in quotes
BLOB_CONNECTION_STRING="your-blob-connection-string"
BLOB_CONTAINER_NAME=your-blob-container-name
# If the search data source requires a different format connection string (e.g. using MI auth)
# Use this field in addition to BLOB_CONNECTION_STRING
# See Search Blob connection string formats https://learn.microsoft.com/azure/search/search-howto-indexing-azure-blob-storage#supported-credentials-and-connection-strings
SEARCH_BLOB_DATASOURCE_CONNECTION_STRING=

# Optional, used for OCR in azure-search-integrated-vectorization-sample
AZURE_AI_SERVICES_KEY=

# Used for azure-search-integrated-vectorization-sample
AZURE_OPENAI_ENDPOINT=your-openai-endpoint
# Optional, only required if not using RBAC authentication
AZURE_OPENAI_KEY=
AZURE_OPENAI_EMBEDDING_DEPLOYMENT=text-embedding-3-large

# Used for ragas
AZURE_OPENAI_ADA002_EMBEDDING_DEPLOYMENT=text-embedding-ada-002
AZURE_OPENAI_3_LARGE_EMBEDDING_DEPLOYMENT=text-embedding-3-large

# Used for ragas, azure-search-vector-python-sample, azure-search-vector-python-langchain-sample
AZURE_OPENAI_API_VERSION=2024-05-01-preview

# Used for azure-search-vector-python-sample, azure-search-integrated-vectorization-sample, azure-search-vector-python-llamaindex-sample
AZURE_OPENAI_EMBEDDING_MODEL_NAME=text-embedding-3-large
AZURE_OPENAI_EMBEDDING_DIMENSIONS=1536

# Used for azure-search-vector-image-index-creation-python-sample
AZURE_AI_VISION_KEY=your-vision-key
AZURE_AI_VISION_ENDPOINT=https://your-vision-endpoint.cognitiveservices.azure.com

# Used for azure-search-vector-python-llamaindex-sample
AZURE_OPENAI_CHATGPT_DEPLOYMENT=gpt-35-turbo

# Used for ragas
AZURE_OPENAI_GENERATOR_DEPLOYMENT=gpt-35-turbo
AZURE_OPENAI_CRITIC_DEPLOYMENT=gpt-4o

# Used for azure-search-vector-python-llamaindex-sample
# Used if re-embedding sample data with vector-compression-and-storage
AZURE_OPENAI_EMBEDDING_DIMENSIONS=3072

# Used for azure-search-cohere-embed-v3-sample
COHERE_API_KEY=your-cohere-api-key