asttokens==2.4.1
azure-common==1.1.28
azure-core==1.30.0
azure-identity==1.15.0
azure-search-documents==11.6.0b1
azure-storage-blob==12.19.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
colorama==0.4.6
comm==0.2.1
cryptography==42.0.2
debugpy==1.8.0
decorator==5.1.1
executing==2.0.1
idna==3.6
ipykernel==6.29.1
ipython==8.21.0
isodate==0.6.1
jedi==0.19.1
jupyter_client==8.6.0
jupyter_core==5.7.1
matplotlib-inline==0.1.6
msal==1.26.0
msal-extensions==1.1.0
nest-asyncio==1.6.0
packaging==23.2
parso==0.8.3
platformdirs==4.2.0
portalocker==2.8.2
prompt-toolkit==3.0.43
psutil==5.9.8
pure-eval==0.2.2
pycparser==2.21
Pygments==2.17.2
PyJWT==2.8.0
python-dateutil==2.8.2
python-dotenv==1.0.1
pywin32==306
pyzmq==25.1.2
requests==2.31.0
six==1.16.0
stack-data==0.6.3
tenacity==8.2.3
tornado==6.4
tqdm==4.66.1
traitlets==5.14.1
typing_extensions==4.9.0
urllib3==2.2.0
wcwidth==0.2.13
