AZURE_SEARCH_SERVICE_ENDPOINT=YOUR-SEARCH-SERVICE-ENDPOINT
AZURE_SEARCH_INDEX_NAME=YOUR-SEARCH-SERVICE-INDEX-NAME
AZURE_SEARCH_ADMIN_KEY=YOUR-SEARCH-SERVICE-ADMIN-KEY
OPENAI_ENDPOINT=YOUR-OPENAI-ENDPOINT
OPENAI_API_KEY=YOUR-OPENAI-API-KEY
OPENAI_API_VERSION=YOUR-OPENAI-API-VERSION
OPENAI_EMBEDDING_DEPLOYED_MODEL=YOUR-OPENAI-DEPLOYED-MODEL
