# Do not include azure-functions-worker in this file.
# The Python worker is managed by the Azure Functions platform.
azure-functions
sentence-transformers==5.6.0

# Azure Functions only supports CPU for running embedding models.
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.6.0+cpu
