{% extends 'content.html' %}

{% set exclude_claims = ['iat', 'exp', 'nbf', 'uti', 'aio'] %}

{% block header %}
    ID Token Details
{% endblock %}

{% block text %}
    {% if g.identity_context_data.authenticated %}
        {% for claim, value in g.identity_context_data._id_token_claims.items() %}
            {% if claim not in exclude_claims %}
                <strong>{{ claim }}:</strong> {{ value }}
                <br>
            {% endif %}
        {% endfor %}
    {% endif %}
    <br>
    Click here to see your <a class="btn btn-info p-1" href="{{ url_for('index') }}">Sign-in Status</a>
{% endblock %}

    